* {
    font-family: Outfit;
    background-color: #1A132E;
}


.day-bar {
    /* box-sizing: border-box; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:6px;
    background-color: #7557AD;
    /* border: 1px solid white; */
    width: 400px;
    height: 33px;
    border-radius: 3px;
    
}
button {
    /* border: none; */
    background-color: #7557AD;
    border-radius: 3px;

}
.day {

flex: 1 1 0;
color: #B3A9D8;

/* this colour should be applied if it is that day */
background: #4A387A;
gap :6px;

font-size: 15px;
font-weight: 600;

}

i {
    color: #B3A9D8;

    background-color: #7557AD;
    
}

.header-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
}

.top-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 10px;
    /* border: 1px solid white; */

}

 .add { /* input text is white */
    color: white; 
    border: none;
    outline: none;

}
.modal-container {

    display:flex;
    gap:10px;
    opacity: 0;
    pointer-events: none;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* moves back by half its width/height */
    background-color: #7557AD;
    padding: 20px;
    border-radius: 10px;
    size: 800px;
    width: 300px;
    
}

/* items in the modal  */
.inner-modal {
    display: flex; 
    /* border: 1px solid white; */
    align-items: center;
    justify-content:  center;
    width: 300px;
    padding: 5px 0;
}

.modal-container.show {
    opacity: 1;
    pointer-events: auto;
    size: 300px; 
}



/* add container */
.add-container {
  position: relative;
  margin: 20px;
}

/* add field */
.add-field {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #B3A9D8;
  outline: none;
  background-color: transparent;
  color: #B3A9D8;
}

/* add label */
.add-label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: rgba(204, 204, 204, 0);
  pointer-events: none;
  transition: all 0.3s ease;
  background-color: transparent;
}

/* Input highlight */
.add-highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #654fa3;
  transition: all 0.3s ease;
}

/* Input field:focus styles */
.add-field:focus + .add-label {
  top: -20px;
  font-size: 12px;
  color: #654fa3;
}

.add-field:focus + .add-label + .add-highlight {
  width: 100%;
  
}

